pydantic
requests
gitpython
docker-compose
python-dotenv
redis
celery
jinja2
openai
# langchain==0.0.138
fastapi==0.92.0
uvicorn==0.20.0
sendgrid==6.10.0
sqlalchemy==2.0.9
asyncpg==0.27.0
alembic==1.10.3
fastapi-jwt-auth==0.5.0
